<div class="container menu-principal">
    <div class="row justify-content-center">
        <div class="col-3">
            <img src="../../assets/img/StarWarsAppLogo2.png" width="300" alt="Logo StarWars">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-4 ">
            <a routerLink="/personas">
                <i class="fas fa-user-alt-slash fa-7x "></i>
                <h2>Personas</h2>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a routerLink="/peliculas">
                <i class="fas fa-film fa-7x"></i>
                <h2>Películas</h2>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 ">
            <a routerLink="/especies">
                <i class="fab fa-pied-piper-alt fa-7x"></i>
                <h2>Especies</h2>
            </a>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="row text-center">
        <div class="col-lg-4 ">
            <a routerLink="/planetas">
                <i class="fas fa-globe fa-7x"></i>
                <h2>Planetas</h2>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 ">
            <a routerLink="/vehiculos">
                <i class="fas fa-car-crash fa-7x"></i>
                <h2>Vehículos</h2>
            </a>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a routerLink="/naves">
                <i class="fab fa-phoenix-squadron fa-7x"></i>
                <h2>Naves</h2>
            </a>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
